@use '@a-ui/core/src/styles/quarks' as *;
@use 'sass:color';

/**
 * CORE BRANDING OVERRIDES
 * -------------------------------------------------------------------
 */

$sna-blue-600: #3878C2;
$sna-blue-700: #10509A;
$sna-blue-800: #193150;
$sna-blue-800-opacity-50: rgba($sna-blue-800, 0.5);

$sna-red-100: #FBF4F5;
$sna-red-500: #CA1C22;
$sna-red-600: #B8002A;
$sna-red-700: #A3002A;
$sna-red-800: #6C0019;

$sna-neutral-100: #F6F6F6;
$sna-neutral-200: #E7E7E7;
$sna-neutral-300: #D8D8D8;
$sna-neutral-400: #B9B9B9;
$sna-neutral-500: #919191;
$sna-neutral-700: #696969;
$sna-neutral-900: #2E2E2E;
$sna-black: #242424;
$sna-black-opacity-30: rgba($sna-black, 0.3);

:root {

  /* Brand colors */

  --brand-1: #{$sna-blue-600};
  --brand-1-tint: #{$sna-blue-700};
  // --brand-1-contrast: #{$white};
  // --brand-1-alt: #{$white};
  // --brand-1-alt-tint: #{$endeavour-100};
  --brand-1-alt-contrast: #{$sna-black};

  --brand-2: #{$sna-red-600};
  --brand-2-tint: #{$sna-red-800};
  // --brand-2-contrast: #{$white};
  // --brand-2-alt: #{$white};
  --brand-2-alt-tint: #{$sna-red-100};
  --brand-2-alt-contrast: #{$sna-black};

  --brand-3: #{$sna-blue-600};
  --brand-3-tint: #{$sna-blue-700};
  // --brand-3-contrast: #{$white};
  // --brand-3-alt: #{$white};
  // --brand-3-alt-tint: #{$endeavour-100};
  --brand-3-alt-contrast: #{$sna-black};



  /* UI colors */

  --state-info: #{$sna-blue-600};
  --state-info-tint: #{$sna-blue-700};
  // --state-info-contrast: #{$white};
  // --state-info-alt: #{$white};
  // --state-info-alt-tint: #{$endeavour-100};
  --state-info-alt-contrast: #{$sna-black};

  // --state-success: #{$mantis-700};
  // --state-success-tint: #{$mantis-800};
  // --state-success-contrast: #{$white};
  // --state-success-alt: #{$white};
  // --state-success-alt-tint: #{$mantis-100};
  --state-success-alt-contrast: #{$sna-black};

  // --state-warning: #{$burnt-orange-600};
  // --state-warning-tint: #{$burnt-orange-700};
  // --state-warning-contrast: #{$white};
  // --state-warning-alt: #{$white};
  // --state-warning-alt-tint: #{$burnt-orange-100};
  --state-warning-alt-contrast: #{$sna-black};

  --state-danger: #{$sna-red-500};
  --state-danger-tint: #{$sna-red-700};
  // --state-danger-contrast: #{$white};
  // --state-danger-alt: #{$white};
  --state-danger-alt-tint: #{$sna-red-100};
  --state-danger-alt-contrast: #{$sna-black};

  --state-disabled: #{$sna-neutral-100};
  --state-disabled-tint: #{$sna-neutral-200};
  --state-disabled-contrast: #{$sna-neutral-400};

  --text-color: #{$sna-neutral-900};
  --text-color-light: #{$sna-neutral-700};
  // --text-color-inverted: #{$white};

  --bg-color: #{$sna-neutral-100};
  // --bg-color-light: #{$white};
  --bg-color-inverted: #{$sna-neutral-700};

  --border-color: #{$sna-neutral-400};
  --border-color-light: #{$sna-neutral-300};

  --overlay-color: #{$sna-blue-800-opacity-50};
  --box-shadow-color: #{$sna-black-opacity-30};

  // --link: var(--brand-1);
  // --link-tint: var(--brand-1-tint);
  // --link-contrast: var(--brand-1-contrast);
  // --link-alt: var(--brand-1-alt);
  // --link-alt-tint: var(--brand-1-alt-tint);
  // --link-alt-contrast: var(--brand-1-alt-contrast);

  --state-selected: #{color.mix($sna-blue-600, $white, 20%)};



  /* Spacers */

  // --spacer: 1.5rem;
  // --spacer-3xl: 6rem;
  // --spacer-xxl: 3.75rem;
  // --spacer-xl: 3rem;
  // --spacer-l: 2.25rem;
  // --spacer-s: 1rem;
  // --spacer-xs: .75rem;
  // --spacer-xxs: .5rem;
  // --spacer-3xs: .25rem;



  /* Breakpoints */

  // --screen-xs: #{$screen-xs};
  // --screen-s: #{$screen-sm};
  // --screen-l: #{$screen-md};
  // --screen-xl: #{$screen-lg};
  // --screen-xxl: #{$screen-xl};

  // --screen-xxs-max: #{$screen-xxs-max};
  // --screen-xs-max: #{$screen-xs-max};
  // --screen-s-max: #{$screen-sm-max};
  // --screen-l-max: #{$screen-md-max};
  // --screen-xl-max: #{$screen-lg-max};



  /* Fonts */

  // --font-family-base: 'Sun Antwerpen', sans-serif;
  // --font-family-headings: 'Antwerpen Regular', sans-serif;
  // --font-family-monospace: 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;

  // --font-weight-light: 300;
  // --font-weight-normal: 500;
  // --font-weight-bold: 700;
  // --font-weight-extra-bold: 800;

  // --font-weight-h1: var(--FONT-WEIGHT-BOLD);
  // --font-weight-h2: var(--FONT-WEIGHT-BOLD);
  // --font-weight-h3: var(--FONT-WEIGHT-BOLD);
  // --font-weight-h4: var(--FONT-WEIGHT-BOLD);
  // --font-weight-h5: var(--FONT-WEIGHT-BOLD);
  // --font-weight-h6: var(--FONT-WEIGHT-BOLD);

  // --font-size-base: 1rem;
  // --font-size-small: .875rem;
  // --font-size-large: 1.125rem;

  // --font-size-h1: 2.25rem;
  // --font-size-h2: 1.65rem;
  // --font-size-h3: 1.4375rem;
  // --font-size-h4: 1.3125rem;
  // --font-size-h5: 1.1875rem;
  // --font-size-h6: 1.0625rem;

  // --line-height-base: 1;
  // --line-height-heading: 1.1;
  // --line-height-paragraph: 1.3;

  // --icon-size-base: 1.25rem;
  // --icon-size-small: 1rem;
  // --icon-size-large: 1.5rem;



  /* Miscellaneous */

  --border-radius: 4px;
  // --border-width: 1px;

  // --animation-duration: 200ms;
  // --animation-easing: ease-in-out;
  // --animation-normal: var(--ANIMATION-DURATION) var(--ANIMATION-EASING);

  // --box-shadow-bottom-left: calc(var(--SPACER) / -2) calc(var(--SPACER) / 2) 0 var(--BOX-SHADOW-COLOR);
  // --box-shadow-bottom-right: calc(var(--SPACER) / 2) calc(var(--SPACER) / 2) 0 var(--BOX-SHADOW-COLOR);
  // --box-shadow-top-left: calc(var(--SPACER) / -2) calc(var(--SPACER) / -2) 0 var(--BOX-SHADOW-COLOR);
  // --box-shadow-top-right: calc(var(--SPACER) / 2) calc(var(--SPACER) / -2) 0 var(--BOX-SHADOW-COLOR);
  // --box-shadow: var(--BOX-SHADOW-BOTTOM-RIGHT);

  // --readable-content-width: 45rem;



  /* Z-indexes */

  // --z-cellar: -1;
  // --z-auto: 0;
  // --z-base: 1;
  // --z-top: 2;
  // --z-datepicker: 3;
  // --z-flyout: 4;
  // --z-tooltip: 5;
  // --z-pane-overlay: 6;
  // --z-pane: 7;
  // --z-statusbar: 8;
  // --z-header: 9;
  // --z-overlay: 10;
}


/**
 * CUSTOM COMPONENTSTYLING
 * -------------------------------------------------------------------
 */

/* Remove rounded corners on right side of avatar in avatar button */
.a-button.has-avatar .a-avatar, .a-button.has-avatar-with-inset .a-avatar {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* Add spacing to flyout content */
.m-flyout__content,
.m-flyout--bottom-left .m-flyout__content,
.m-flyout--bottom-right .m-flyout__content {
  margin-top: var(--SPACER-3XS);
}

.m-flyout--bottom-right .m-flyout__content {
  margin-top: var(--SPACER-3XS);
}

.m-flyout--upper-right .m-flyout__content,
.m-flyout--upper-left .m-flyout__content {
  margin-top: calc(var(--SPACER-3XS) * -1);
}

.m-flyout .a-input + .m-flyout__content {
  margin-top: var(--SPACER-3XS);
}
